[submodule "WorldEngine/Plugins/NLTGovernanceSubsystem/ThirdParty/ASFDK"]
	path = WorldEngine/Plugins/NLTGovernanceSubsystem/ThirdParty/ASFDK
	url = https://github.com/NeuroLift-Technologies/asfdk-cplus.git
[submodule "world-engine-godot/godot-cpp"]
	path = world-engine-godot/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	shallow = true
